.header-text {
  font-family: 'Dancing Script';
  font-weight: bold;
  color: #60C291;
  font-size: 36px;
}
.section-text {
  font-family: 'Lora';
  font-weight: normal;
  color: #60C291;
  font-size: 36px;
}
.title-text {
  font-family: 'Lora';
  font-weight: bold;
  color: #2C6E70;
  font-size: 18px;
}
.body-text {
  font-family: 'Lora';
  font-weight: normal;
  color: #2C6E70;
  font-size: 12px;
}
.info-text {
  font-family: 'Lora';
  font-weight: lighter;
  color: #2C6E70;
  font-size: 8px;
}
.nav-text {
  font-family: 'Lora';
  font-weight: normal;
  color: #F4EFEB;
  font-size: 16px;
}
@media (max-width: 500px) {
  .nav-text {
    font-size: 10px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.title {
  background-color: #F4EFEB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
h1 {
  font-family: 'Dancing Script';
  font-weight: bold;
  color: #60C291;
  font-size: 36px;
}
h2 {
  font-family: 'Lora';
  font-weight: normal;
  color: #60C291;
  font-size: 36px;
}
P {
  font-family: 'Lora';
}
a:hover {
  text-decoration: underline;
  font-weight: bolder;
  color: #DCBBB4;
  transition: 0.3s;
}
body {
  background-color: #F4EFEB;
}
nav {
  background: #60C291;
  width: 100%;
  height: 30px;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
}
ul {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  ul {
    width: 900%;
  }
}
a {
  font-family: 'Lora';
  font-weight: normal;
  color: #F4EFEB;
  font-size: 16px;
}
@media (max-width: 500px) {
  a {
    font-size: 10px;
  }
}
.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  background-image: url("/img/photos//USAPL\ 2019\ State\ Championships-302.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.emblem {
  width: 300px;
  margin: 50px auto;
  display: flex;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 5px 50px 5px;
}
.about-btn,
.coaching-btn,
.blog-btn {
  display: block;
  background-color: #60C291;
  border-color: #F4EFEB;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 220px;
  height: 50px;
  font-size: 18px;
  border-radius: 8px;
  color: #F4EFEB;
  font-family: 'Lora';
  transition: 0.3s;
}
.about-btn:hover,
.coaching-btn:hover,
.blog-btn:hover {
  background-color: #F4EFEB;
  border-color: #60C291;
  color: #60C291;
}
.social-media-emblems {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}
.sm-emblem {
  width: 100px;
  height: 100px;
}
.sm-emblem:hover {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
@media (max-width: 500px) {
  .sm-emblem {
    width: 100%;
    height: 100%;
  }
}
footer {
  background: #60C291;
  color: #F4EFEB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
footer h3 {
  font-size: small;
}
.coaching-main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
}
.signup-form {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px 5px 50px 5px;
  background: grey;
  width: 540px;
  height: 280px;
  margin: auto;
}
.coaching-main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
}
.signup-form {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px 5px 50px 5px;
  background: grey;
  width: 540px;
  height: 280px;
  margin: auto;
}
.about-main-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
}
@media (max-width: 500px) {
  .about-main-content {
    width: auto;
  }
}
.about-title {
  margin: 50px auto;
  display: flex;
}
.orange-pose {
  display: flex;
  width: 60%;
  margin: auto;
}
@media (max-width: 500px) {
  .orange-pose {
    width: auto;
    margin-bottom: 10px;
  }
}
.carousel-form {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px 5px 50px 5px;
  background: grey;
  width: 50%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.carousel-slide {
  display: flex;
  width: 60%;
  height: 500px;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
  width: 60%;
}
.testimonial-btn,
.publication-btn {
  display: block;
  background-color: #60C291;
  border-color: #F4EFEB;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 220px;
  height: 50px;
  font-size: 18px;
  border-radius: 8px;
  color: #F4EFEB;
  font-family: 'Lora';
  transition: 0.3s;
}
.testimonial-btn:hover,
.publication-btn:hover {
  background-color: #F4EFEB;
  border-color: #60C291;
  color: #60C291;
}
#prev-btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  color: #60C291;
  opacity: 0.8;
}
#next-btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  color: #60C291;
  opacity: 0.8;
}
.buttons {
  margin-top: 3%;
}
.pic-content {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .pic-content {
    display: flex;
    flex-direction: column;
  }
}
.certifications {
  display: flex;
  margin: 30px auto;
  margin-bottom: 0%;
}
@media (max-width: 500px) {
  .certifications {
    font-size: x-large;
  }
}
.certifications-content {
  text-align: center;
}
.testimonial-title {
  margin: 50px auto;
  display: flex;
}
.testimonial-main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
}
.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}
@media (max-width: 500px) {
  .testimonial-container {
    width: auto;
    flex-direction: column;
  }
}
.client-testimonial {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
}
.buttons {
  margin-top: 3%;
}
.publication-container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.publication-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.image-placeholder {
  width: 300px;
  height: 300px;
  background-color: grey;
}
.publication-section button {
  display: block;
  background-color: #F4EFEB;
  border-color: #60C291;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 220px;
  height: 50px;
  font-size: 18px;
  border-radius: 8px;
  color: #60C291;
  font-family: 'Lora';
  transition: 0.3s;
}
.publication-section button:hover {
  background-color: #60C291;
  border-color: #F4EFEB;
  color: #F4EFEB;
}
.media-main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
}
.media-title {
  margin: 50px auto;
  display: flex;
}
.media-section .image-placeholder {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 0 20px;
  padding: 0 20px;
}
.media-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.media-section {
  width: 60%;
  margin: 30px auto;
  display: flex;
  align-content: flex-start;
}
.academic-main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
}
.academic-title {
  margin: 50px auto;
  display: flex;
}
.academic-section .image-placeholder {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 0 20px;
  padding: 0 20px;
}
.academic-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.academic-section {
  width: 60%;
  margin: 30px auto;
  display: flex;
  align-content: flex-start;
}
