
.about-main-content{

    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;

    @media(max-width: 500px) {
        width: auto;
    }
}

.about-title{
    margin: 50px auto;
    display: flex;
}

.orange-pose{
    display: flex;
    width: 60%;
    margin: auto;

    @media(max-width: 500px) {
        width: auto;
        margin-bottom: 10px;
    }
}

.carousel-form{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px 5px 50px 5px;
    background: grey;
    width: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide{
    display: flex;
    width: 60%;
    height: 500px;
}


.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
    width: 60%;
}

.testimonial-btn, .publication-btn{
    .custom-btn(@mint-green, @marble-white, @marble-white)
}

#prev-btn{
    position: absolute;
    top:50%;
    z-index: 10;
    left: 5%;
    color:@mint-green;
    opacity: 0.8;
    
}

#next-btn{
    position: absolute;
    top:50%;
    z-index: 10;
    right: 5%;
    color:@mint-green;
    opacity: 0.8;
}

.buttons{
    margin-top: 3%;
}

.pic-content{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;

    @media(max-width: 500px){
        display: flex;
        flex-direction: column;
        
    }
}

.certifications{
    display: flex;
    margin: 30px auto;
    margin-bottom: 0%;
    @media(max-width: 500px) {
        font-size: x-large;
    }
}

.certifications-content{
    text-align: center;
}

