
.coaching-main-content{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px auto;
}

.widget-container{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 500px) {
        display: none;
    }
}

.typeform-widget{


    @media (max-width: 500px) {
        display: none;
    }

}

.coaching-btn{
    
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;

    @media(min-width: 500px){
        display: none;
    }
}