

//Header Section

.title{
    background-color: @marble-white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px
}

h1{
    .header-text();
}

//Nav Section



nav{
    background: @main-color;
    width:100%;
    height: 100px;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a{
    .nav-text();
}

//main content

.main-content{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.emblem{
    width: 300px;
    margin: 50px auto;
    display: flex;
    
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 5px 50px 5px;
}

.about-btn, .coaching-btn, .blog-btn{
    .custom-btn(@mint-green, @powder-white, @powder-white)
}

//Social Media Eblems

.social-media-emblems{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.sm-emblem{
    width: 100px;
    height: 100px;
}


