

//Header Section

.title{
    background-color: @marble-white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    @media (max-width: 500px) {
        height: 50px;
    }
}

h1{
    .header-text();
}

h2{
    .section-text();
}

P{
    font-family: 'Lora';
}

a{
    &:hover{
        text-decoration: underline;
        font-weight: bolder;
        color: @baby-pink;
        transition: .3s;
    }
}

body{
    background-color: @marble-white;
}

//Nav Section



nav{
    background: @mint-green;
    width:100%;
    height: 30px;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
}

ul{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @media(max-width: 500px){
        width: 900%;
    }
}

a{
    .nav-text();
}

//main content

.main-content{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    background-image: url("../img/photos/USAPL_Landscape.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    @media(max-width: 500px){
        background-image: url("../img/photos/USAPL\ 2019\ State\ Championships-302.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 650px;
    }
}

.emblem{
    width: 300px;
    margin: 50px auto;
    display: flex;
    
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 5px 50px 5px;
}

.about-btn, .coaching-btn, .blog-btn{
    .custom-btn(@mint-green, @marble-white, @marble-white)
}

//Social Media Eblems

.social-media-emblems{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.sm-emblem{
    width: 100px;
    height: 100px;

    &:hover{
        -webkit-filter: blur(2px);
        filter: blur(2px);
    }

    @media(max-width: 500px){
        width: 100%;
        height: 100%;
    }
}


footer{
    background: @mint-green;
    color: @marble-white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

footer h3 {
    font-size: small;
}