//Formatting Variables Here


//Colors

@mint-green : #60C291;
@baby-blue : #9FC5C6;
@baby-pink: #DCBBB4;
@powder-white: #FAFAFA;
@marble-white: #F4EFEB;
@milk-chocolate: #BE9078;
@magenta: #BE788D;
@teal: #2C6E70;
@light-royal-blue: #758EA8;

//Color Assignments

@main-color: @mint-green;
